polkit.addRule(function(action, subject) {
    if (action.id !== "org.freedesktop.policykit.exec") {
        return polkit.Result.NOT_HANDLED;
    }

    var allowedPrograms = [
        "/usr/local/bin/oxp-fan-profile",
        "/usr/local/bin/oxp-turbo-tdp",
        "/usr/local/bin/oxp-tdp",
        "/usr/local/bin/oxp-vram",
        "/usr/local/bin/oxp-cpu-profile",
    ];
    if (allowedPrograms.indexOf(action.lookup("program")) === -1) {
        return polkit.Result.NOT_HANDLED;
    }

    if (!subject.local || !subject.active || !subject.isInGroup("wheel")) {
        return polkit.Result.NOT_HANDLED;
    }

    return polkit.Result.YES;
});
