[Unit]
Description=OneXPlayer Super X configurable Turbo button action
Wants=power-profiles-daemon.service
After=systemd-modules-load.service power-profiles-daemon.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
ExecStartPre=/usr/local/bin/oxp-turbo-tdp --check-config
ExecStart=/usr/local/bin/oxp-turbo-tdp
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
